<dialog id="preview-template" class="flow">
	<h1 class="fs:lg">Email Preview</h1>
	<p></p>
	<footer class="cluster">
		<button type="button" class="secondary" data-close>Close</button>
	</footer>
</dialog>
