<header>
	<nav>
		<ul>
			<li><strong>My Mail Mate</strong></li>
		</ul>
		<ul>
			<li><a href="/">Templates</a></li>
		</ul>
	</nav>
</header>

<style>
	header {
		background-color: var(--bg-1);
		color: var(--txt-1);
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	ul {
		display: flex;
		list-style: none;
	}

	a {
		text-decoration: none;
		color: var(--txt-1);
	}

	a:hover {
		text-decoration: underline;
	}
</style>
