<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select Email Template</title>
</head>
<body>
  <h1>Select an Email Template</h1>
  <div id="buttons">
    <% textFiles.forEach(file => { %>
        <a href="/parseTemplate/<%= file %>">
        <button><%= file %></button>
        </a>
    <% }) %>
  </div>
</body>
</html>